h2 {
    font-family: serif;
    font-weight: 400;
    color: rgb(105, 30, 53);
    text-align: center;
    margin-bottom: 2em;
}

body {
    background: #fff2f0;
}

div#tabla {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 1.5em;
    grid-row-gap: 2em;
}

#tabla .encabezado {
    font-weight: 600;
}

a {
    padding: 5px 10px;
    margin: 0.8em;
    margin-right: 0;
    margin-top: 0;
    display: inline-block;
    background: #7f1349;
    font-size: 0.9em;
    color: #fff;
    border-radius: 20px;
    text-decoration: none;
}